<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4d300accb8.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<div id="whole_container">
    <div id="firstcontainer">
        <i class="fa-solid fa-file-pen icon"></i> 
        <p class="writer">Writer</p>
        <div></div>
        <form action="/createpage" method="post" >
        <button type="submit" id="create_new"> + Create New</button>
        </form>
        <form action="deletecookie" method="post">
            <button>logout</button>
        </form>
    </div>
    <div id="next_bodycontainer">
        <div id="topics">
            <p class="heading">Documents</p>
            <p class="headings">My Documents</p>
            <p class="headings">Favorites</p>
            <p class="headings">Trash</p>
        </div>
        <div id="create_documents"></div>
    </div>
</div>

<script src="js/script.js"></script>
</body>
</html>